.navigationList {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: rgb(18, 148, 18);
    padding: .5em;
    border-radius: 6px;
}

.navigationItem {
    background-color: yellowgreen;
    padding: 1.5em;
    margin: .2em;
    box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
}

.navigationLink {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
}