a {
    text-decoration: none
}

ul {
    list-style: none;
}

td {
    padding-right: 2em;
}

.navigationList {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(18, 148, 18);
    padding: .5em;
    border-radius: 6px;
    position: sticky;
    top: 0;
}

.navigationItem {
    background-color: yellowgreen;
    padding: 1.5em;
    margin: .2em;
    box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}

.navigationItem:hover {
    transform: scale(1.1);
}

.navigationLink {
    color: aliceblue;
    font-size: larger;
}

#portrait {
    display: inline;
}

#aboutMeShort {
    display: flex;
}

.contactInfoParent {
    display: flex;
    justify-content: center;
}

.projectList {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 148, 18);
    padding: .5em;
    border-radius: 6px;
}

.projectItem {
    background-color: yellowgreen;
    padding: 1.5em;
    margin: .2em;
    box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}

.projectItem:hover {
    transform: scale(1.1);
}

.projectItem:click {
    transform: scale(0.9)
}

.projectLink {
    color: aliceblue;
    font-size: larger;
}